body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cart-item {
  display: inline-flex;
  margin: 20px 10px;
}
.cart-item .right-block {
  padding: 0 20px;
}
.cart-item-actions {
  margin-top: 20px;
}
.action-icons {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.action-icons:hover {
  cursor: pointer;
}
.cart{
  display:flex;
  flex-direction: column;
  width: 100%;
}
.navBar{
  display: flex;
  align-items: center;
  height: 42px;
  padding: 10px 15px;
  background-color: rgb(111, 111, 111);
}
.cart-icon{
  height: 18px;
  margin-left: auto;
}
.item-count{
  color: rgb(251, 241, 241);
  background-color: brown;
  border-radius: 50%;
  padding: 1px 8px;
  position: relative;
  right: 8px;
  bottom:7px;

}

.total-container{
  position: abolute;
  right:10px;
  margin: 10px 20px;
}

.main-container{
  display: flex;
  justify-content: space-between;
}
